.fancyFont {
  font-family: "Germania One", cursive;
  margin: 0;
}

.bigFont {
  font-size: 40px;
}

.medFont {
  font-size: 25px;
}

.navButton {
  font-family: "Germania One", cursive;
  background-color: #f5c019;
  border-radius: 10px;
  font-size: 20pt;
  border: none;
  outline:none;
  height: 60px;
  width: 250px;
  margin: 0 auto;
}

button:hover {
    background-color: #ffd12a;
}

.wordBox {
  font-family: "Germania One", cursive;
  background-color: #e0d9d9;
  font-size: 20pt;
  height: 60px;
  width: 250;
  border-radius: 10px;
  margin: 0 auto;
}

.wordSubmitBtn {
  height: 50px;
  background-color: #e6ac00;
  width: 100px;
}

.wordSubmitBtn:hover {
  background-color: #f5c019;
}

input {
  font-family: "Verdana", sans-serif;
  height: 50px;
  font-size: 25px;
  float: left;
}

.centerText {
  display: flex;
  align-items: center;
  justify-content: center;
}



.wordBox:hover {
  background-color: #cccccc;
}

.wordBoxSelect {
  background-color: #f5c019;
}
